# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Generated/built files (created by npm run build)
dist/
src/browser/plugin.min.js
src/browser/worker.min.js
www/

.DS_Store
